.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: red;
}

.green {
  background-color: red;
}
.blue {
  background-color: red;
}

.indigo {
  background-color: red;
}

.violet {
  background-color: red;
}
