.friendly{
  display: inline-block;
  margin: 20px;
  height: 300px;
  width: 200px;
  padding: 0px;
  background-color: #FFF;
  -webkit-filter: drop-shadow(0px 0px 5px #555);
  filter: drop-shadow(0px 0px 5px #555);
}

.avatar{
  margin-left: 27px;
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.name{
  font-size: 24px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20;
}

.getconnected{
  /* margin-left: 15px; */
  /* margin-left: auto;
  margin-right: auto; */
}

#icon{
  margin: 20px;
}
